<md-card class="loginCard">
  <md-card-header>
    <md-card-title>Login</md-card-title>
    <md-card-subtitle>Provide your credentials</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <form (ngSubmit)="login()">
      <md-input-container class="loginInput">
        <input mdInput placeholder="username" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
      </md-input-container>
      <md-input-container class="loginInput">
        <input mdInput placeholder="password" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
      </md-input-container>
      <md-progress-bar *ngIf="loading" mode="indeterminate"></md-progress-bar>
      <button md-raised-button color="accent" type="submit">Submit</button>
    </form>
  </md-card-content>
</md-card>
