<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true" disableClose="true">
    <a md-button routerLink="/">
      <md-icon>thumb_up</md-icon>
    </a>
    <a *ngIf="loggedIn" md-raised-button routerLink="/dashboard">Dashboard</a>
    <a *ngIf="loggedIn" md-raised-button routerLink="/tasks">Tasks</a>
    <a *ngIf="!loggedIn" md-raised-button routerLink="/login">Login</a>
    <a *ngIf="!loggedIn" md-raised-button routerLink="/register">Register</a>
    <a *ngIf="loggedIn" md-raised-button class="logout" (click)="logout()">Logout</a>
  </md-sidenav>
  <div class="spacing">
    <button md-fab (click)="sidenav.toggle()" class="navToggle">
      <md-icon>menu</md-icon>
    </button>
    <router-outlet>
    </router-outlet>
  </div>
</md-sidenav-container>
