.loginCard {
  width: calc(640px - 48px);
  max-width: 100%;
  margin: 0px auto;
}

@media screen and (max-width: 640px) {
  .loginCard {
    width: calc(100% - 48px);
    max-width: calc(100% - 48px);
    margin: 0px auto;
  }
}

.loginInput {
  width: 100%;
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 18px;
}
